.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  flex-wrap: wrap;

}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  form,
  .contrato {
    width: 100%;
    max-width: 100%;
  }
}