<app-navbar></app-navbar>
<section class="nosotros">
  <div class="contenedor">
    <h1 class="titulo">Sobre Nosotros</h1>

    <div class="info">
      <p>
        En <strong>Contrato Fácil</strong>, nuestra misión es empoderar a las personas para crear contratos de arrendamiento legales, claros y accesibles sin necesidad de ser expertos en derecho. Diseñamos esta plataforma para que cualquier usuario pueda generar un contrato profesional en cuestión de minutos.
      </p>

      <p>
        Somos un equipo multidisciplinario apasionado por la tecnología, el diseño y la legalidad. Creemos que los procesos legales no tienen por qué ser complicados, por eso trabajamos cada día para hacerlos más simples, eficientes y digitales.
      </p>
    </div>

    <div class="equipo">
      <h2>Nuestro Equipo</h2>
      <div class="miembros">
        <div class="card">
          <img src="assets/img/fundador.png" alt="Fundador" />
          <h3>Pedro G.</h3>
          <p>Fundadora & Desarrolladora Full Stack</p>
        </div>
        <div class="card">
          <img src="assets/img/legal.png" alt="Legal" />
          <h3>Laura M.</h3>
          <p>Asesora Legal</p>
        </div>
        <div class="card">
          <img src="assets/img/uiux.png" alt="Diseño UX" />
          <h3>
            Dayana R.
          </h3>
          <p>Diseñador UX/UI</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
