h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 2px dashed #114672;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

input[type="file"]:hover {
  border-color: #4982b8;
  background-color: #e1e9ff;
}
